<!DOCTYPE html>
<html ng-app="newpost">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA2u0eQNzCuDMdzG4opRM1ELacupQbzX28&sensor=true"></script>

    <script src="../lib/pouchdb/dist/pouchdb.min.js"></script>
    <!-- your app's js -->
    <script src="newpost/newpost.module.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

  </head>
  <style>
    .blue{
      color:blue;
    }

  </style>

  <body onload="onload()">

		<div class="bar bar-header">

		  <div class="h1 title">Add New</div>

			<a href="index.html"><button class="button icon-right ion-home ion-right">Home</button></a>

		</div>
      <ion-content>
        <div class="padding-separate"></div>

        <!--NO MAP FOR SUCCESSFUL FORM SUBMISSION-->

        <div ng-controller="MapController" id="map" data-tap-disabled="true"></div>

        <!--NO ng-controller="myForm" FOR SUCCESSFUL FORM SUBMISSION-->
        <form id="postingForm">

          <div class="list">
              <label class="item item-input">
                <span class="input-label">Title</span>
                <input name="title" id="title" type="text">
              </label>
              <!--org name... to obtain from database-->
              <label class="item item-input">
                <span class="input-label">Org Name</span>
                <input name="orgname" id="" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Skills</span>
                <input name="skills" id="" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Address</span>
                <input name="address" id="" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Pos. lat</span>
                <input name="lat" id="" type="text">
              </label>

              <label class="item item-input">
                <span class="input-label">Pos. lng</span>
                <input name="lng" id="" type="text">
              </label>

              <!--use datepicker-->
              <label class="item item-input">
                <span class="input-label">Date and Time</span>
                <input name="datetime" id="" type="text">
              </label>

              <label class="item item-input item-select">
              <div class="input-label">
                Type
              </div>
              <select name="type">
                <option>Work</option>
                <option selected>Volunteer</option>
              </select>
              </label>

              <label class="item item-input">
                <span class="input-label">Upload File</span>
                <input type="file" class="file-upload" name="attachment" id="">
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                  <textarea name="description" placeholder="Tell the user more information about this opportunity"></textarea>
              </label>

              <!--after this deadline, this post will be auto removed from the database that displays the work/vol info/opportunities-->

              <label class="item item-input">
                <span class="input-label">Deadline</span>
                <input name="deadline" id="" type="text">
              </label>

              <label class="item item-input item-select">
                <div class="input-label">
                  Apply here?
                </div>
                <select id="application" name="application" onchange="showOrHideOptions()">
                  <option>No</option>
                  <option selected>Yes</option>
                </select>
              </label>

              <!--if yes-->
              <div id="optionalApplication">
                <label class="item item-input item-stacked-label">
                    Select the text fields that you want the applicant to fill up.
                </label>


                <!--CHECKBOX NOT WORKING-->
                <ion-list>
                  <ion-checkbox ng-model="checkboxModel.value1">Q1</ion-checkbox>
                  <ion-checkbox ng-model="checkboxModel.value2">Q2</ion-checkbox>
                  <ion-checkbox ng-model="checkboxModel.value3">Q3</ion-checkbox>
                </ion-list>
                </div>
              </div>

              <!-- Provide customised options to ask more questions-->


              <div class="row">
                <div class="col text-center">
                  <button id="" class="button button-positive">Submit</button>
                </div>
              </div>
            </div>
        </form>
<!--
		    <a href="index.html">Take me to org main page</a>
-->
<!--
        <ion-list id="postDisplay">
        </ion-list>
-->
      </ion-content>


    <script>

      function showOrHideOptions() {
        if(document.getElementById("application").selectedIndex == "1") {
          //alert("hey");
          document.getElementById("optionalApplication").style.display = "block";
        } else if(document.getElementById("application").selectedIndex == "0"){
          document.getElementById("optionalApplication").style.display = "none";
        }
      }

var dbpostings = new PouchDB('postings');
var remoteCouch = "http://localhost:5984/postings";
var postings;
postings = document.getElementById('postingForm');

var inputFile = document.querySelector('.file-upload');
var filename = "helloworld.png";

addPost = function(event) {
  var file = inputFile.files[0];
  //alert(file.type);  - gives image/png
  var newPost = {};
  newPost._id = new Date().toISOString();
  newPost._attachments = {
    filename: {                 //INSTEAD OF FILENAME, SHOULD NAME IT AS THE NAME OF THE FILE
                                //ELSE CAN ONLY STORE 1 ATTACHMENT PER DOC BUT MAYBE CAN USE filename[i]
      type: file.type,
      data: file
    }
  };

  //name of org newPost.orgName = { { profile registered name? } }
  newPost.title = postings.title.value;
  newPost.orgname = postings.orgname.value;
  newPost.skills = postings.skills.value;
  newPost.address = postings.address.value;
  newPost.lat = postings.lat.value;
  newPost.lng = postings.lng.value;
  newPost.datetime = postings.datetime.value;
  newPost.type = postings.type.value;
//  newPost.attachment = postings.attachment.value;
  newPost.description = postings.description.value;
  newPost.deadline = postings.deadline.value;
  newPost.application = postings.application.value;


  dbpostings.put(newPost, function(error, response) {
    if (!error) {
      //alert("post added");
      console.log('Added a new post');
      alert('your post has been added');
    }
//FOR SAVING ATTACHMENTS
/*
    if (response && response.ok) {

      if (postings.attachment.files.length) {

        var reader = new FileReader();
        reader.readAsDataURL(postings.attachment.files.item(0));

        // Using a closure so that we can extract the File's attributes in the function.
        reader.onload = (function(file) {
          return function(e) {
            dbpostings.putAttachment(response.id, file.name, response.rev, e.target.result, file.type);
          };
        })(postings.attachment.files.item(0));

      }

    }
*/

  });

  function syncError() {
      console.log('Unable to sync to remote');
  }
  function sync() {
    var opts = {live: true};
    dbpostings.sync(remoteCouch, opts, syncError);
  }
  if(remoteCouch) {
    sync();
  }

}

      if(postings) {
        postings.addEventListener('submit', addPost);
        //NOTE: ON CLICK, HIDE FORM, SHOW NOTICE THAT POST HAS BEEN ADDED AND PROVIDE A BUTTON TO TAKE THEM BACK TO HOME PG

      }


    </script>

  </body>
</html>


